In [18]:
import pandas as pd
import numpy as np

In [27]:
d_adm = pd.read_excel('ADMET.xlsx')
d_mol = pd.read_excel('Molecular_Descriptor.xlsx',sheet_name='training')
d_pic = pd.read_excel('ERÎ±_activity.xlsx', sheet_name='training')
d_mol.drop(columns=['SMILES'],inplace=True)
d.drop(columns=['SMILES'],inplace=True)
cols = d.columns.to_list()
d.head()

   Caco-2  CYP3A4  hERG  HOB  MN
0       0       1     1    0   0
1       0       1     1    0   0
2       0       1     1    0   1
3       0       1     1    0   0
4       0       1     1    0   0

In [30]:
d['pIC50'] = d_pic['pIC50']
d.head()

   Caco-2  CYP3A4  hERG  HOB  MN     pIC50
0       0       1     1    0   0  8.602060
1       0       1     1    0   0  8.124939
2       0       1     1    0   1  8.508638
3       0       1     1    0   0  8.408935
4       0       1     1    0   0  8.130768

In [31]:
d['dis'] = d.apply(lambda x: x[cols[1]] + x[cols[2]] +x[cols[4]] - x[cols[0]] - x[cols[3]],axis=1)
d_fil = d[d['dis'] <= 0]
d_fil.head()

    Caco-2  CYP3A4  hERG  HOB  MN     pIC50  dis
11       1       1     0    0   0  7.455932  0.0
35       0       0     1    1   0  7.408935  0.0
58       0       0     0    0   0  6.823909  0.0
59       1       1     1    1   0  6.301030  0.0
63       0       0     0    0   0  7.301030  0.0

In [32]:
d_fil.sort_values(by='pIC50',ascending=False)

      Caco-2  CYP3A4  hERG  HOB  MN     pIC50  dis
65         1       0     0    0   1  9.481486  0.0
1422       1       1     0    0   0  8.771856  0.0
1484       1       1     1    1   0  8.522879  0.0
455        1       0     0    0   1  8.522879  0.0
1424       1       1     1    1   0  8.340654  0.0
...      ...     ...   ...  ...  ..       ...  ...
1414       1       1     0    0   0  4.096910  0.0
728        1       1     0    1   1  4.089781  0.0
457        0       0     0    1   1  4.067019  0.0
711        1       0     0    0   1  4.008854  0.0
727        1       0     0    1   1  3.993346 -1.0

[543 rows x 7 columns]

In [ ]:
# area: features' min_val - max_val 
# 
# for indexes:
#.   for